
    body {
        /* background-color: #555; */
        margin: 0 auto;
        width: 90%;
        display: block;
    }
    h2 {
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    * {
        box-sizing: border-box;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul li {
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s; 
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    ul li:nth-child(odd) {
        background: #f9f9f9;
    }
    ul li:nth-child(even):hover {
        background-color: #e3f2fd;
    }
    ul li:nth-child(odd):hover {
        background-color: #f3e5f5;
    }
    ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }
    ul li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }
    .close-button {
        position: absolute;
        right: 60px;
        top: 11px;
        font-size: 1.3rem;
        font-weight: bold;
        background-color: #fff9c4;
        border-radius: 5px;
        border: 1px solid #ffc107;
        padding: 0 0.5rem;
    }
    .close-button:hover {
        opacity: 0.7;
    }
    .header {
        background-color: #9fa8da;
        padding: 30px 40px;
        color: white;
        text-align: center;
    }
    .header:after {
        content: "";
        display: table;
        clear: both;
    }
    input[type="text"] {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }
    .add-button {
        padding: 6px;
        width: 25%;
        background-color: #f1f8e9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
        border: 1px solid #fff;
    }
    .add-button:hover {
        background-color: #dcedc8;
    }
    input[type="checkbox"] {
        margin-top: 0.3rem;
        margin-right: 2rem;
    }
    .todo-checkbox {
        cursor: pointer;
        margin-right: 0.5rem;
        height: 20px;
        width: 25px;
        vertical-align: sub;
        background-color: #eee;
    }
    .todo-select-option {
        margin-right: 1.5rem;
        background-color: #fff9c4;
        border: 1px solid #ffc107;
        border-radius: 5px;
        padding: 0.3rem;
        /* width: 10%; */
        font-size: 1.1rem;
    }